%section.site_title
  %h1
    Share and watch nature in all its awesomeness.
    = link_to "Sign Up Now!", new_user_path
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to "Sign In", login_path
